* {
  margin: 0;
  background-color: black;
}
.bimg {
  margin-left: 38%;
  padding-top: 10vh;
}
.outText {
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  padding-top: 3vh;
  color: white;
}
.mid {
  background-color: black;
}
